.card {
    /* Границы и угол */
    --borderSize: 5px;              /* Толщина границы карточки */
    --borderRadius: 1vh;            /* Радиус закругления углов карточки */


    /* Градиент и затемнение */
    --gradient_angle: 135deg;       /* Угол градиента фона карточки */
    --zatemnenie_brightness: 25%;   /* Яркость затемнения черно белая */


    /* Анимация */
    --speed_animate: 0.2s;          /* Скорость анимации для переходов*/


    /* Размеры кольца и аватара */
    --ring_width: 2vh;              /* Ширина кольца вокруг аватара */
    --avatar_border_width: 0.2vh;   /* Толщина границы аватара */
    --foto_margin: 2vh;             /* Отступ вокруг фотографии чтобы небыло тесно */
    --foto_height: 14vh;            /* Высота фотографии */
    --foto_scale: 1.5;             /* Скейл для аватарки в профиле*/

    /* Размеры текста и акцент */
    --big_number_height: 7vh;       /* Высота больших цифр */
    --standart_actent_black: #333;/* Стандартный акцентный темный цвет */

    --main_gradient: linear-gradient(var(--gradient_angle),
        /*Угол наклона выдаёться выше.*/
        rgba(255, 193, 5, 1) 0%,
        rgba(238, 194, 23, 1) 16%,
        rgba(249, 215, 93, 1) 55%,
        rgba(241, 182, 52, 1) 55%,
        rgba(255, 213, 64, 1) 86%,
        rgba(247, 183, 17, 1) 86%,
        rgba(255, 219, 64, 1) 100%);

    --border_gradient: linear-gradient(0deg,
        #e6d200 0%,
        #151515 calc(50% - var(--border_ghost)),
        #151515 calc(50% + var(--border_ghost)),
        #e6d200 100%);
}
