body {
   margin: 0;
   padding: 0;
   height: 100%;
   background-image: url("https://github.com/qwebdesigns/armtime/blob/main/assets/image/body5.jpg?raw=true");
   background-size: 100vw;
   z-index: 1;
}



.papa {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 2vh;
   width: 80%;
   height: 100vh;
   justify-items: center;
   align-items: center;

}
