body {
   margin: 0;
   padding: 0;
   height: 100%;
   background-image: url("https://github.com/qwebdesigns/armtime/blob/main/assets/image/body5.jpg?raw=true");
   background-size: 100vw;
   z-index: 1;
}

.card {
   --borderSize: 5px;
   --borderRadius: 1vh;
   --gradient_angle: 135deg;
   --zatemnenie_brightness: 25%;

   --speed_animate: 0.2s;
   --ring_width: 2vh;
   --avatar_border_width: 0.2vh;
   --foto_margin: 2vh;
   --foto_height: 14vh;
   --big_number_height: 7vh;
   --standart_actent_black: #333;
}



.papa {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 2vh;
   width: 80%;
   height: 100vh;
   justify-items: center;
   align-items: center;

}
